{% extends "main.html" %} 
{% block content %} 

  <!-- List all projects -->


    <div class="card-columns">

      {% for p in projects %}

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{p.name}}</h5>

          <ul>
            {% for i in p.items %}
            <li class="card-text">{{i.name}}</li>
            {% endfor %}
          </ul>

          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>


      {% endfor %}






    </div>
  </div>





{% endblock %}